@import 'src/assets/_mixins.sass'
//@mixin fonts($fontfamily,$fontsize, $fontweight,$text-align, $lineheight, $letterspacing, $color)

.section.dark
  article
    .hola
      +fonts(Roboto,3.2rem,900,center,29px, 0em, $textHoverDark)

    .sub-name
      +fonts(Roboto,3rem,900, left,1.15em,1px, $textHoverDark)
      span
        +fonts(Roboto,3.2rem,900,left,1.15em,1px,$captions)
    .summary
      +fonts(Roboto,16px,900,left ,1.15em,1px, $textHoverDark)
.section
  width: 100%
  height: calc(100vh - 89px)
  //background: $specialTextColor
  padding: 90px
  display: flex

  .article
    margin-left: 10px


    .hola
      +fonts(Roboto,1.6rem,900,center,29px, 0em, $lightText)

    .name
      +fonts(Roboto,3.4rem,900, left  ,1.15em,1px, $captions)

    .sub-name
      +fonts(Roboto,3rem,900, left,1.15em,1px, $lightText)
      span
        +fonts(Roboto,3.2rem,900,left,1.15em,1px,$captions)

    .summary
      +fonts(Roboto,16px,900,left ,1.15em,1px, $lightText)

  figure
    display: flex
    position: relative
    width: 16.44em
    height: 17.67em
    //overflow: hidden

    .profile-pic
      margin-left: 70px
      display: inline-block
      position: absolute
      width: inherit
      height: inherit
      background-image: url('../../assets/img/profilepic.jpeg')
      background-size: cover
      border-radius: 3  px solid $captions
      //filter: blur(1px)
      z-index: 3
      filter: drop-shadow(8px 8px 10px gray)
      &:hover
        filter: blur(0px)

    .contrast
      z-index: 3
      position: absolute
      margin-left: 70px
      opacity: .45
      width: inherit
      height: inherit
      background: $textHoverDark
      transition: background-color .3s


      &:hover
        background: none

//Mobile responsiveness

@media screen and (max-width: $mobileScreen)
  .section
    display: flex
    flex-direction: column
    padding: 15px 25px

    .article

      .hola
        +fonts(Roboto,1.2rem,900,center,29px, 0em, $lightText)

      .name
        +fonts(Roboto,2.4rem,900, left  ,1.15em,1px, $captions)
        margin-bottom: 10px

      .sub-name
        +fonts(Roboto,1.5rem,900, left,1.15em,1px, $lightText)
        span
          +fonts(Roboto,1.5rem,900,left,1.15em,1px,$captions)
      .summary
        +fonts(Roboto,16px,900,left ,1.15em,1px, $lightText)

    figure
      display: flex
      justify-content: center
      align-items: center
      margin-top: 40px
      .profile-pic, .contrast
        transform: translate(-15%, 4%)
        align-content: center
        filter: drop-shadow(8px 8px 10px gray)



.section.dark
  display: flex
  flex-direction: column
  padding: 15px 25px

  .article

    .hola
      +fonts(Roboto,1.2rem,900,center,29px, 0em, $textHoverDark)

    .name
      +fonts(Roboto,2.4rem,900, left  ,1.15em,1px, $captions)
      margin-bottom: 10px

    .sub-name
      +fonts(Roboto,1.5rem,900, left,1.15em,1px, $textHoverDark)
      span
        +fonts(Roboto,1.5rem,900,left,1.15em,1px,$captions)
    .summary
      +fonts(Roboto,16px,900,left ,1.15em,1px, $textHoverDark)

  figure
    display: flex
    justify-content: center
    align-items: center
    margin-top: 40px
    .profile-pic, .contrast
      transform: translate(-15%, 4%)
      align-content: center
      filter: drop-shadow(0px 0px 0px gray) !important









