@import 'src/assets/_mixins.sass'
//@mixin fonts($fontfamily,$fontsize, $fontweight,$text-align, $lineheight, $letterspacing, $color)

.section
  width: 100%
  height: calc(100vh - 89px)
  padding: 90px
  display: flex !important

  .article
    margin-left: 10px


    .hola
      +fonts(Roboto,1.6rem,900,center,29px, 0em, $lightText)

    .name
      +fonts(Roboto,3.4rem,900, left  ,1.15em,1px, $captions)

    .sub-name
      +fonts(Roboto,3rem,900, left,1.15em,1px, $lightText)
      span
        +fonts(Roboto,3.2rem,900,left,1.15em,1px,$captions)

    .summary
      +fonts(Roboto,16px,900,left ,1.15em,1px, $lightText)

  figure
    display: flex
    position: relative
    width: 16.44em
    height: 17.67em
    //overflow: hidden

    svg
      position: absolute
      top: -190px
      right: -190px

    .profile-pic
      margin-left: $picMarginLeft
      display: inline-block
      position: absolute
      width: inherit
      height: inherit
      background-image: url('../../assets/img/profilepic.jpeg')
      background-size: cover
      border-radius: 3  px solid $captions
      z-index: 300
      //filter: blur(1px)
      filter: drop-shadow(4px 4px 4px gray)
      &:hover
        filter: blur(0px)

    .contrast
      z-index: 300 !important
      position: absolute
      margin-left: $picMarginLeft
      opacity: $picOpacity
      width: inherit
      height: inherit
      background: $textHoverDark
      transition: background-color .3s
      &:hover
        background: none

    .square
      content: ''
      position: absolute
      width: inherit
      height: inherit
      border: 2px solid $specialTextColor
      background: transparent
      margin-left: $picMarginLeft
      top: 25px
      left: 25px
      z-index: 0

.section.dark
  width: 100%
  height: calc(100vh - 89px)
  //background: $specialTextColor
  padding: 90px
  display: flex !important
  flex-direction: row

  .article
    margin-left: 10px


    .hola
      +fonts(Roboto,1.6rem,900,center,29px, 0em, $textHoverDark)

    .name
      +fonts(Roboto,3.4rem,900, left  ,1.15em,1px, $captions)

    .sub-name
      +fonts(Roboto,3rem,900, left,1.15em,1px, $textHoverDark)
      span
        +fonts(Roboto,3.2rem,900,left,1.15em,1px,$captions)

    .summary
      +fonts(Roboto,16px,900,left ,1.15em,1px, $textHoverDark)

  figure
    display: flex
    position: relative
    width: 16.44em
    height: 17.67em
    //overflow: hidden

    .profile-pic
      margin-left: $picMarginLeft
      display: inline-block
      position: absolute
      width: inherit
      height: inherit
      background-image: url('../../assets/img/profilepic.jpeg')
      background-size: cover
      border-radius: 3  px solid $captions
      //filter: blur(1px)
      z-index: 3
      filter: none !important
      &:hover
        filter: blur(0px)

    .contrast
      z-index: 3
      position: absolute
      margin-left: $picMarginLeft
      opacity:  $picOpacity
      width: inherit
      height: inherit
      background: $textHoverDark
      transition: background-color .3s

      &:hover
        background: none



//Mobile responsiveness



@media screen and (max-width: $mobileScreen)

  .section
    display: flex
    flex-direction: column
    padding: 15px 25px

    .article

      .hola
        +fonts(Roboto,1.2rem,900,center,29px, 0em, $lightText)

      .name
        +fonts(Roboto,2.4rem,900, left  ,1.15em,1px, $captions)
        margin-bottom: 10px

      .sub-name
        +fonts(Roboto,1.5rem,900, left,1.15em,1px, $lightText)
        span
          +fonts(Roboto,1.5rem,900,left,1.15em,1px,$captions)
      .summary
        +fonts(Roboto,16px,900,left ,1.15em,1px, $lightText)

    figure
      display: flex
      justify-content: center
      align-items: center
      margin-top: 40px
      .profile-pic, .contrast
        transform: translate(-15%, 4%)
        align-content: center
        border: 1px solid $textHoverDark

      .square
        margin-left: 20px
        top: 35px

  .section.dark
    display: flex
    flex-direction: column
    padding: 15px 25px

    .article

      .hola
        +fonts(Roboto,1.2rem,900,center,29px, 0em, $textHoverDark)

      .name
        +fonts(Roboto,2.4rem,900, left  ,1.15em,1px, $captions)
        margin-bottom: 10px

      .sub-name
        +fonts(Roboto,1.5rem,900, left,1.15em,1px, $textHoverDark)
        span
          +fonts(Roboto,1.5rem,900,left,1.15em,1px,$captions)
      .summary
        +fonts(Roboto,16px,900,left ,1.15em,1px, $textHoverDark)

    figure
      display: flex
      justify-content: center
      align-items: center
      margin-top: 40px
      .profile-pic, .contrast
        transform: translate(-15%, 4%)
        align-content: center








