$specialTextColor: rgb(204, 214, 246)
$textHoverDark: #64ffda
$moreSpeciatTextEffectColor: #66fcf1
$siteDarkBgColor: #0a192f
$siteLightBgColor: #f9f9f9
$lightText1: #5358d3
$lightText: #42366d
$togglerDark: #0E2F4D
$mobileScreen: 440px
$tabScreen: 750px
$captions: #e66470
$optionalBG: #fef5da